In [3]:
# set up autocomplete
%config IPCompleter.greedy=True

In [4]:
import pandas as pd
import json

In [42]:
transactions = '../DATA/braincode-dataset-tx.json'
views = '../DATA/braincode-dataset-items.json'
dd = {"ttimestamp":1523513211322,"offer":{"id":"4917959693","category_id":"82258"},"location":{"latitude":54.51889,"longitude":18.53188},"item_quantity":"7"}

dd['offer']

{'id': '4917959693', 'category_id': '82258'}

In [41]:
type(dd)

dict

In [51]:
import json
from pandas.io.json import json_normalize    

data = []
json_to_dict = {'ttimestamp':[], 
               'offer_id':[],
               'category_id':[],
               'latitude':[],
               'longitude':[],
               'item_quantity':[]}
with open (transactions) as f:    
    for line in f:
        json_line = json.loads(line)
        json_offer = json_line['offer']
        json_location = json_line['location']
        json_to_dict['ttimestamp'].append(json_line['ttimestamp'])
        
        json_to_dict['offer_id'].append(json_offer['id'])
        if 'category_id' in json_offer.keys():
            json_to_dict['category_id'].append(json_offer['category_id'])
        else:
            json_to_dict['category_id'].append(['NaN'])

        json_to_dict['latitude'].append(json_location['latitude'])
        json_to_dict['longitude'].append(json_location['longitude'])
        
        json_to_dict['item_quantity'].append(json_line['item_quantity'])

In [52]:
for k,v in json_to_dict.items():
    print(k, len(v))

ttimestamp 25772
offer_id 25772
category_id 25772
latitude 25772
longitude 25772
item_quantity 25772

In [54]:
df = pd.DataFrame(json_to_dict)

In [55]:
df.head()

  category_id item_quantity  latitude  longitude    offer_id     ttimestamp
0       82258             7  54.51889   18.53188  4917959693  1523513211322
1       82262             6  52.40692   16.92993  6053701041  1523452698215
2       82262             4  50.87033   20.62752  6053701041  1523419797371
3       82262             4  50.06143   19.93658  6729129823  1523546459565
4       82262             9  52.64817   19.06780  6729129823  1523374151281