In [109]:
# set up autocomplete
%config IPCompleter.greedy=True

In [110]:
import pandas as pd
import json

In [111]:
transactions = '../DATA/braincode-dataset-tx.json'
views = '../DATA/braincode-dataset-items.json'
dd = {"ttimestamp":1523513211322,"offer":{"id":"4917959693","category_id":"82258"},"location":{"latitude":54.51889,"longitude":18.53188},"item_quantity":"7"}

dd['offer']

{'id': '4917959693', 'category_id': '82258'}

In [112]:
type(dd)

dict

In [115]:
import json
import numpy as np
from pandas.io.json import json_normalize    

data = []
json_to_dict = {'ttimestamp':[], 
               'offer_id':[],
               'category_id':[],
               'latitude':[],
               'longitude':[],
               'item_quantity':[]}
with open (transactions) as f:    
    for line in f:
        json_line = json.loads(line)
        json_offer = json_line['offer']
        json_location = json_line['location']
        json_to_dict['ttimestamp'].append(json_line['ttimestamp'])
        
        json_to_dict['offer_id'].append(json_offer['id'])
        if 'category_id' in json_offer.keys():
            json_to_dict['category_id'].append(json_offer['category_id'])
        else:
            json_to_dict['category_id'].append(np.nan)

        json_to_dict['latitude'].append(json_location['latitude'])
        json_to_dict['longitude'].append(json_location['longitude'])
        
        json_to_dict['item_quantity'].append(json_line['item_quantity'])
    df = pd.DataFrame(json_to_dict)

In [91]:
for k,v in json_to_dict.items():
    print(k, len(v))

ttimestamp 25772
offer_id 25772
category_id 25772
latitude 25772
longitude 25772
item_quantity 25772

In [92]:
df = pd.DataFrame(json_to_dict)

In [193]:
df

,category_id,item_quantity,latitude,longitude,offer_id,ttimestamp
0,82258,7,54.51889,18.53188,4917959693,1523513211322
1,82262,6,52.40692,16.92993,6053701041,1523452698215
2,82262,4,50.87033,20.62752,6053701041,1523419797371
3,82262,4,50.06143,19.93658,6729129823,1523546459565
4,82262,9,52.64817,19.06780,6729129823,1523374151281
5,82262,6,54.19438,16.17222,6729129823,1523564228836
6,257759,9,51.21006,16.16190,6874481169,1523437408252
7,82262,1,52.24424,21.08545,6931804709,1523559823468
8,257755,1,51.75000,19.46667,6934448940,1523425475343
9,82260,2,53.42894,14.55302,7053462279,1523647134311
10,257754,4,52.25460,20.90844,7119810584,1523552817239
11,257754,9,50.77141,16.28432,7119810584,1523475076818
12,257754,2,50.04132,21.99901,7119810584,1523388529065
13,257754,6,54.35205,18.64637,7119810584,1523383432709
14,253002,1,50.13717,18.96641,7146700698,1523368988994
15,257759,4,52.54682,19.70638,7183023996,1523341383922
16,257759,2,52.64817,19.06780,7183023996,1523445307598
17,257759,2,50.28682,19.10385,7183023996,1523345449712
18,257759,10,50.01381,20.98698,7183023996,1523428749483
19,257759,6,50.06143,19.93658,7183023996,1523381193208
20,257759,9,52.29185,21.04845,7183023996,1523560112249
21,257759,8,53.42894,14.55302,7183023996,1523528840810
22,257759,6,52.29185,21.04845,7183023996,1523343367200
23,257759,1,50.67211,17.92533,7183023996,1523553497237
24,257759,8,51.76109,18.09102,7183023996,1523524154245
25,257759,8,50.01381,20.98698,7183023996,1523557159742
26,257759,3,50.25840,18.85632,7183023996,1523627787282
27,257759,9,49.82245,19.04686,7183023996,1523371050002
28,257759,7,50.25840,18.85632,7183023996,1523555509342
29,257759,7,50.34802,18.93282,7183023996,1523363997230
...,...,...,...,...,...,...
25742,257248,3,50.20528,19.27498,7265943788,1523355559845
25743,249002,1,52.19340,21.03487,7270065663,1523372076682
25744,249002,8,50.30582,18.97420,7270065663,1523525265363
25745,249002,3,51.75000,19.46667,7270065663,1523371704050
25746,249002,10,50.31818,19.23740,7270065663,1523518109258
25747,249002,8,49.82245,19.04686,7270065663,1523355973495
25748,249002,3,54.15220,19.40884,7270065663,1523384801984
25749,82259,2,50.25841,19.02754,7270708539,1523610053581
25750,249587,1,53.12350,18.00762,7272675047,1523476485041
25751,249587,9,53.13333,23.16433,7272675047,1523637143013
25752,249587,2,53.48411,18.75366,7272675047,1523457397570
25753,249587,7,52.29185,21.04845,7272675047,1523389341116
25754,82263,3,54.35205,18.64637,7273349405,1523470702130
25755,82263,9,54.35205,18.64637,7273349405,1523386505316
25756,249586,9,50.32492,18.78576,7276408078,1523535432512
25757,257754,2,53.42894,14.55302,7277464935,1523544413825
25758,257754,1,53.13333,23.16433,7277464935,1523628006056
25759,82259,8,54.51889,18.53188,7277471278,1523571193756
25760,NaN,8,52.54682,19.70638,7281659725,1523533372042
25761,257756,4,53.13333,23.16433,7282428474,1523612830237
25762,82263,5,50.06143,19.93658,7283237955,1523457738808
25763,82262,5,51.10000,17.03333,7283512678,1523537533501
25764,254738,10,50.79646,19.12409,7283606314,1523606679775
25765,257247,8,50.01381,20.98698,7284067861,1523370630442
25766,145923,5,51.10000,17.03333,7284645407,1523457070082
25767,145923,1,50.04132,21.99901,7284645407,1523396025794
25768,254738,6,52.73679,15.22878,7284677627,1523443370213
25769,257248,2,54.51889,18.53188,7284945387,1523404168658
25770,82262,4,53.12350,18.00762,7287331528,1523642256799
25771,82262,3,52.73679,15.22878,7287331528,1523556685830

In [118]:

transactions = '../DATA/braincode-dataset-tx_9lines_corrected.json'
transactions2 = '../DATA/braincode-dataset-tx_10lines_corrected.json'
views = '../DATA/braincode-dataset-items_corrected_no_last_c.json'

In [120]:
#json.loads(transactions)
import sys

struct = {}
try: #try parsing to dict
    dataform = str(views).strip("'<>() ").replace('\'', '\"')
    struct = json.loads(dataform)
    print(type(struct))
except:
    print(repr(views))
    print(sys.exc_info())

'../DATA/braincode-dataset-items_corrected_no_last_c.json'
(<class 'json.decoder.JSONDecodeError'>, JSONDecodeError('Expecting value: line 1 column 1 (char 0)',), <traceback object at 0x7fed66537ec8>)

In [127]:
views2 = '../DATA/data2.json/data2.json'

In [130]:
open(views2)

In [141]:
#json.load(open(views2))#, encoding='ASCII')
df_transactions = pd.read_json('../DATA/braincode-dataset-tx_correct.json')
df_transactions

,item_quantity,location,offer,ttimestamp
0,7,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '4917959693', 'category_id': '82258'}",1523513211322
1,6,"{'latitude': 52.40692, 'longitude': 16.92993}","{'id': '6053701041', 'category_id': '82262'}",1523452698215
2,4,"{'latitude': 50.87033, 'longitude': 20.62752}","{'id': '6053701041', 'category_id': '82262'}",1523419797371
3,4,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '6729129823', 'category_id': '82262'}",1523546459565
4,9,"{'latitude': 52.64817, 'longitude': 19.0678}","{'id': '6729129823', 'category_id': '82262'}",1523374151281
5,6,"{'latitude': 54.19438, 'longitude': 16.17222}","{'id': '6729129823', 'category_id': '82262'}",1523564228836
6,9,"{'latitude': 51.21006, 'longitude': 16.1619}","{'id': '6874481169', 'category_id': '257759'}",1523437408252
7,1,"{'latitude': 52.24424, 'longitude': 21.08545}","{'id': '6931804709', 'category_id': '82262'}",1523559823468
8,1,"{'latitude': 51.75, 'longitude': 19.46667}","{'id': '6934448940', 'category_id': '257755'}",1523425475343
9,2,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7053462279', 'category_id': '82260'}",1523647134311
10,4,"{'latitude': 52.2546, 'longitude': 20.90844}","{'id': '7119810584', 'category_id': '257754'}",1523552817239
11,9,"{'latitude': 50.77141, 'longitude': 16.28432}","{'id': '7119810584', 'category_id': '257754'}",1523475076818
12,2,"{'latitude': 50.04132, 'longitude': 21.99901}","{'id': '7119810584', 'category_id': '257754'}",1523388529065
13,6,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7119810584', 'category_id': '257754'}",1523383432709
14,1,"{'latitude': 50.13717, 'longitude': 18.96641}","{'id': '7146700698', 'category_id': '253002'}",1523368988994
15,4,"{'latitude': 52.54682, 'longitude': 19.70638}","{'id': '7183023996', 'category_id': '257759'}",1523341383922
16,2,"{'latitude': 52.64817, 'longitude': 19.0678}","{'id': '7183023996', 'category_id': '257759'}",1523445307598
17,2,"{'latitude': 50.28682, 'longitude': 19.10385}","{'id': '7183023996', 'category_id': '257759'}",1523345449712
18,10,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7183023996', 'category_id': '257759'}",1523428749483
19,6,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '7183023996', 'category_id': '257759'}",1523381193208
20,9,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7183023996', 'category_id': '257759'}",1523560112249
21,8,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7183023996', 'category_id': '257759'}",1523528840810
22,6,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7183023996', 'category_id': '257759'}",1523343367200
23,1,"{'latitude': 50.67211, 'longitude': 17.92533}","{'id': '7183023996', 'category_id': '257759'}",1523553497237
24,8,"{'latitude': 51.76109, 'longitude': 18.09102}","{'id': '7183023996', 'category_id': '257759'}",1523524154245
25,8,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7183023996', 'category_id': '257759'}",1523557159742
26,3,"{'latitude': 50.2584, 'longitude': 18.85632}","{'id': '7183023996', 'category_id': '257759'}",1523627787282
27,9,"{'latitude': 49.82245, 'longitude': 19.04686}","{'id': '7183023996', 'category_id': '257759'}",1523371050002
28,7,"{'latitude': 50.2584, 'longitude': 18.85632}","{'id': '7183023996', 'category_id': '257759'}",1523555509342
29,7,"{'latitude': 50.34802, 'longitude': 18.93282}","{'id': '7183023996', 'category_id': '257759'}",1523363997230
...,...,...,...,...
25742,3,"{'latitude': 50.20528, 'longitude': 19.27498}","{'id': '7265943788', 'category_id': '257248'}",1523355559845
25743,1,"{'latitude': 52.1934, 'longitude': 21.03487}","{'id': '7270065663', 'category_id': '249002'}",1523372076682
25744,8,"{'latitude': 50.30582, 'longitude': 18.9742}","{'id': '7270065663', 'category_id': '249002'}",1523525265363
25745,3,"{'latitude': 51.75, 'longitude': 19.46667}","{'id': '7270065663', 'category_id': '249002'}",1523371704050
25746,10,"{'latitude': 50.31818, 'longitude': 19.2374}","{'id': '7270065663', 'category_id': '249002'}",1523518109258
25747,8,"{'latitude': 49.82245, 'longitude': 19.04686}","{'id': '7270065663', 'category_id': '249002'}",1523355973495
25748,3,"{'latitude': 54.1522, 'longitude': 19.40884}","{'id': '7270065663', 'category_id': '249002'}",1523384801984
25749,2,"{'latitude': 50.25841, 'longitude': 19.02754}","{'id': '7270708539', 'category_id': '82259'}",1523610053581
25750,1,"{'latitude': 53.1235, 'longitude': 18.00762}","{'id': '7272675047', 'category_id': '249587'}",1523476485041
25751,9,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7272675047', 'category_id': '249587'}",1523637143013
25752,2,"{'latitude': 53.48411, 'longitude': 18.75366}","{'id': '7272675047', 'category_id': '249587'}",1523457397570
25753,7,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7272675047', 'category_id': '249587'}",1523389341116
25754,3,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7273349405', 'category_id': '82263'}",1523470702130
25755,9,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7273349405', 'category_id': '82263'}",1523386505316
25756,9,"{'latitude': 50.32492, 'longitude': 18.78576}","{'id': '7276408078', 'category_id': '249586'}",1523535432512
25757,2,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7277464935', 'category_id': '257754'}",1523544413825
25758,1,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7277464935', 'category_id': '257754'}",1523628006056
25759,8,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '7277471278', 'category_id': '82259'}",1523571193756
25760,8,"{'latitude': 52.54682, 'longitude': 19.70638}",{'id': '7281659725'},1523533372042
25761,4,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7282428474', 'category_id': '257756'}",1523612830237
25762,5,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '7283237955', 'category_id': '82263'}",1523457738808
25763,5,"{'latitude': 51.1, 'longitude': 17.03333}","{'id': '7283512678', 'category_id': '82262'}",1523537533501
25764,10,"{'latitude': 50.79646, 'longitude': 19.12409}","{'id': '7283606314', 'category_id': '254738'}",1523606679775
25765,8,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7284067861', 'category_id': '257247'}",1523370630442
25766,5,"{'latitude': 51.1, 'longitude': 17.03333}","{'id': '7284645407', 'category_id': '145923'}",1523457070082
25767,1,"{'latitude': 50.04132, 'longitude': 21.99901}","{'id': '7284645407', 'category_id': '145923'}",1523396025794
25768,6,"{'latitude': 52.73679, 'longitude': 15.22878}","{'id': '7284677627', 'category_id': '254738'}",1523443370213
25769,2,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '7284945387', 'category_id': '257248'}",1523404168658
25770,4,"{'latitude': 53.1235, 'longitude': 18.00762}","{'id': '7287331528', 'category_id': '82262'}",1523642256799
25771,3,"{'latitude': 52.73679, 'longitude': 15.22878}","{'id': '7287331528', 'category_id': '82262'}",1523556685830

In [164]:
from pandas.io.json import json_normalize

with open('../DATA/braincode-dataset-tx_correct.json') as data_file:    
    data = json.load(data_file)

d = data[:2]
print(json.dumps(d))
df = json_normalize(d, 'offer', ['id','category_id'], 
                    record_prefix='locations_')

[{"ttimestamp": 1523513211322, "offer": {"id": "4917959693", "category_id": "82258"}, "location": {"latitude": 54.51889, "longitude": 18.53188}, "item_quantity": "7"}, {"ttimestamp": 1523452698215, "offer": {"id": "6053701041", "category_id": "82262"}, "location": {"latitude": 52.40692, "longitude": 16.92993}, "item_quantity": "6"}]

KeyError: "Try running with errors='ignore' as key 'id' is not always present"

In [161]:
data = [{'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]
result = json_normalize(data, 'counties', ['state', 'shortname',
                                           ['info', 'governor']])

result

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [183]:
d = 1523513211.322

In [184]:
from datetime import datetime, date

In [185]:
datetime.fromtimestamp(d)

datetime.datetime(2018, 4, 12, 8, 6, 51, 322000)

In [173]:
import time
ts = time.time()
ts

1524267096.182543

In [187]:
p = '../DATA/categories.csv'

In [201]:
categories = pd.read_table(p, names = ['id_kategorii', 'id_rodzica', 'nazwa'])

categories.head()

  id_kategorii                            id_rodzica       nazwa
0            1  38d588fd-7e9c-4c42-a4ae-6831775eca45      Muzyka
1           10  42540aec-367a-4e5e-b411-17c09b08e41f   RTV i AGD
2       100006                                  5044  XPERIA Arc
3       100075                                 20585   Płyty DVD
4       100076                                100075       Anime

In [202]:
pd.merge(df, categories, left_on='category_id', right_on='id_kategorii')

,category_id,item_quantity,latitude,longitude,offer_id,ttimestamp,id_kategorii,id_rodzica,nazwa
0,82258,7,54.51889,18.53188,4917959693,1523513211322,82258,82256,Huśtawki
1,82258,7,51.75000,19.46667,7247616895,1523363536674,82258,82256,Huśtawki
2,82258,1,53.13333,23.16433,7247616895,1523371681547,82258,82256,Huśtawki
3,82258,3,52.19340,21.03487,7247616895,1523561778239,82258,82256,Huśtawki
4,82258,8,52.29242,20.93531,7247616895,1523448113003,82258,82256,Huśtawki
5,82258,6,51.76109,18.09102,7247616895,1523528994346,82258,82256,Huśtawki
6,82258,4,53.01375,18.59814,7247616895,1523566384235,82258,82256,Huśtawki
7,82258,8,53.01375,18.59814,7247616895,1523600183074,82258,82256,Huśtawki
8,82258,6,50.77141,16.28432,7247616895,1523641581131,82258,82256,Huśtawki
9,82258,1,52.15051,21.05041,7247616895,1523382079885,82258,82256,Huśtawki
10,82258,7,52.29185,21.04845,7247616895,1523584319658,82258,82256,Huśtawki
11,82258,6,52.24424,21.08545,7247616895,1523584163278,82258,82256,Huśtawki
12,82258,7,50.09713,18.54179,7247616895,1523441197330,82258,82256,Huśtawki
13,82258,7,51.76109,18.09102,7247616895,1523370118544,82258,82256,Huśtawki
14,82258,5,51.40253,21.14714,7247616895,1523470323607,82258,82256,Huśtawki
15,82258,4,50.28682,19.10385,7247616895,1523524798892,82258,82256,Huśtawki
16,82258,1,53.12350,18.00762,7247616895,1523540419045,82258,82256,Huśtawki
17,82258,7,52.29242,20.93531,7247616895,1523638114013,82258,82256,Huśtawki
18,82258,9,50.09713,18.54179,7247616895,1523474399705,82258,82256,Huśtawki
19,82258,6,51.10000,17.03333,7247616895,1523611649386,82258,82256,Huśtawki
20,82258,9,52.24424,21.08545,7247616895,1523389956078,82258,82256,Huśtawki
21,82258,9,52.29242,20.93531,7247616895,1523445495705,82258,82256,Huśtawki
22,82258,4,54.46405,17.02872,7247616895,1523561245767,82258,82256,Huśtawki
23,82258,7,52.24010,20.98869,7247616895,1523641627264,82258,82256,Huśtawki
24,82258,1,50.25841,19.02754,7247616895,1523468755521,82258,82256,Huśtawki
25,82258,8,53.48411,18.75366,7247616895,1523362093674,82258,82256,Huśtawki
26,82258,9,51.21006,16.16190,7247616895,1523478136491,82258,82256,Huśtawki
27,82258,7,50.25841,19.02754,7247616895,1523363230517,82258,82256,Huśtawki
28,82258,4,50.09713,18.54179,7247616895,1523513413798,82258,82256,Huśtawki
29,82258,4,53.42894,14.55302,7247616895,1523362900841,82258,82256,Huśtawki
...,...,...,...,...,...,...,...,...,...
25643,257247,2,52.54682,19.70638,7274692829,1523525259665,257247,48978,iPhone 8 Plus
25644,257247,3,50.30582,18.97420,7274692829,1523379311619,257247,48978,iPhone 8 Plus
25645,257247,4,50.31818,19.23740,7274692829,1523633893513,257247,48978,iPhone 8 Plus
25646,257247,4,51.10000,17.03333,7274692829,1523551005306,257247,48978,iPhone 8 Plus
25647,257247,2,52.25460,20.90844,7274692829,1523543780810,257247,48978,iPhone 8 Plus
25648,257247,6,50.13717,18.96641,7110884352,1523551616244,257247,48978,iPhone 8 Plus
25649,257247,7,50.25841,19.02754,7177051015,1523355533437,257247,48978,iPhone 8 Plus
25650,257247,6,53.13333,23.16433,7177051015,1523616881919,257247,48978,iPhone 8 Plus
25651,257247,1,52.24010,20.98869,7270913484,1523564045524,257247,48978,iPhone 8 Plus
25652,257247,8,50.01381,20.98698,7284067861,1523370630442,257247,48978,iPhone 8 Plus
25653,257758,8,50.87033,20.62752,7100312730,1523477740356,257758,82256,Parasole grzewcze
25654,257758,6,53.01375,18.59814,6814470025,1523386781068,257758,82256,Parasole grzewcze
25655,257758,1,52.24010,20.98869,7133129986,1523384054745,257758,82256,Parasole grzewcze
25656,257758,5,52.24424,21.08545,7133130285,1523460842435,257758,82256,Parasole grzewcze
25657,257758,2,51.25000,22.56667,5700547771,1523482825712,257758,82256,Parasole grzewcze
25658,257758,2,52.29185,21.04845,7157938361,1523386178519,257758,82256,Parasole grzewcze
25659,257758,3,53.48411,18.75366,7089581949,1523380416487,257758,82256,Parasole grzewcze
25660,257758,3,50.25841,19.02754,7089581949,1523482195207,257758,82256,Parasole grzewcze
25661,257758,6,50.09713,18.54179,6988116352,1523568543983,257758,82256,Parasole grzewcze
25662,257758,2,51.40253,21.14714,6798740451,1523594183474,257758,82256,Parasole grzewcze
25663,257758,4,52.15051,21.05041,6798740451,1523348428217,257758,82256,Parasole grzewcze
25664,257758,3,52.29185,21.04845,7270704004,1523551914034,257758,82256,Parasole grzewcze
25665,257758,10,52.29242,20.93531,7187046926,1523561335620,257758,82256,Parasole grzewcze
25666,257758,1,51.10000,17.03333,7187046926,1523398447167,257758,82256,Parasole grzewcze
25667,257758,3,52.73679,15.22878,7276287369,1523460842852,257758,82256,Parasole grzewcze
25668,257758,2,53.12350,18.00762,6988116616,1523519248616,257758,82256,Parasole grzewcze
25669,257758,7,52.24010,20.98869,6988115068,1523390894598,257758,82256,Parasole grzewcze
25670,257758,7,54.51889,18.53188,7124815910,1523646943441,257758,82256,Parasole grzewcze
25671,257758,7,50.25840,18.85632,7187048124,1523471341738,257758,82256,Parasole grzewcze
25672,257758,1,51.93548,15.50643,7157454866,1523381570509,257758,82256,Parasole grzewcze