In [109]:
# set up autocomplete
%config IPCompleter.greedy=True

In [110]:
import pandas as pd
import json

In [111]:
transactions = '../DATA/braincode-dataset-tx.json'
views = '../DATA/braincode-dataset-items.json'
dd = {"ttimestamp":1523513211322,"offer":{"id":"4917959693","category_id":"82258"},"location":{"latitude":54.51889,"longitude":18.53188},"item_quantity":"7"}

dd['offer']

{'id': '4917959693', 'category_id': '82258'}

In [112]:
type(dd)

dict

In [115]:
import json
import numpy as np
from pandas.io.json import json_normalize    

data = []
json_to_dict = {'ttimestamp':[], 
               'offer_id':[],
               'category_id':[],
               'latitude':[],
               'longitude':[],
               'item_quantity':[]}
with open (transactions) as f:    
    for line in f:
        json_line = json.loads(line)
        json_offer = json_line['offer']
        json_location = json_line['location']
        json_to_dict['ttimestamp'].append(json_line['ttimestamp'])
        
        json_to_dict['offer_id'].append(json_offer['id'])
        if 'category_id' in json_offer.keys():
            json_to_dict['category_id'].append(json_offer['category_id'])
        else:
            json_to_dict['category_id'].append(np.nan)

        json_to_dict['latitude'].append(json_location['latitude'])
        json_to_dict['longitude'].append(json_location['longitude'])
        
        json_to_dict['item_quantity'].append(json_line['item_quantity'])
    df = pd.DataFrame(json_to_dict)

In [91]:
for k,v in json_to_dict.items():
    print(k, len(v))

ttimestamp 25772
offer_id 25772
category_id 25772
latitude 25772
longitude 25772
item_quantity 25772

In [92]:
df = pd.DataFrame(json_to_dict)

<class 'float'>

In [118]:

transactions = '../DATA/braincode-dataset-tx_9lines_corrected.json'
transactions2 = '../DATA/braincode-dataset-tx_10lines_corrected.json'
views = '../DATA/braincode-dataset-items_corrected_no_last_c.json'

In [120]:
#json.loads(transactions)
import sys

struct = {}
try: #try parsing to dict
    dataform = str(views).strip("'<>() ").replace('\'', '\"')
    struct = json.loads(dataform)
    print(type(struct))
except:
    print(repr(views))
    print(sys.exc_info())

'../DATA/braincode-dataset-items_corrected_no_last_c.json'
(<class 'json.decoder.JSONDecodeError'>, JSONDecodeError('Expecting value: line 1 column 1 (char 0)',), <traceback object at 0x7fed66537ec8>)

In [127]:
views2 = '../DATA/data2.json/data2.json'

In [130]:
open(views2)

In [141]:
#json.load(open(views2))#, encoding='ASCII')
df_transactions = pd.read_json('../DATA/braincode-dataset-tx_correct.json')
df_transactions

,item_quantity,location,offer,ttimestamp
0,7,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '4917959693', 'category_id': '82258'}",1523513211322
1,6,"{'latitude': 52.40692, 'longitude': 16.92993}","{'id': '6053701041', 'category_id': '82262'}",1523452698215
2,4,"{'latitude': 50.87033, 'longitude': 20.62752}","{'id': '6053701041', 'category_id': '82262'}",1523419797371
3,4,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '6729129823', 'category_id': '82262'}",1523546459565
4,9,"{'latitude': 52.64817, 'longitude': 19.0678}","{'id': '6729129823', 'category_id': '82262'}",1523374151281
5,6,"{'latitude': 54.19438, 'longitude': 16.17222}","{'id': '6729129823', 'category_id': '82262'}",1523564228836
6,9,"{'latitude': 51.21006, 'longitude': 16.1619}","{'id': '6874481169', 'category_id': '257759'}",1523437408252
7,1,"{'latitude': 52.24424, 'longitude': 21.08545}","{'id': '6931804709', 'category_id': '82262'}",1523559823468
8,1,"{'latitude': 51.75, 'longitude': 19.46667}","{'id': '6934448940', 'category_id': '257755'}",1523425475343
9,2,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7053462279', 'category_id': '82260'}",1523647134311
10,4,"{'latitude': 52.2546, 'longitude': 20.90844}","{'id': '7119810584', 'category_id': '257754'}",1523552817239
11,9,"{'latitude': 50.77141, 'longitude': 16.28432}","{'id': '7119810584', 'category_id': '257754'}",1523475076818
12,2,"{'latitude': 50.04132, 'longitude': 21.99901}","{'id': '7119810584', 'category_id': '257754'}",1523388529065
13,6,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7119810584', 'category_id': '257754'}",1523383432709
14,1,"{'latitude': 50.13717, 'longitude': 18.96641}","{'id': '7146700698', 'category_id': '253002'}",1523368988994
15,4,"{'latitude': 52.54682, 'longitude': 19.70638}","{'id': '7183023996', 'category_id': '257759'}",1523341383922
16,2,"{'latitude': 52.64817, 'longitude': 19.0678}","{'id': '7183023996', 'category_id': '257759'}",1523445307598
17,2,"{'latitude': 50.28682, 'longitude': 19.10385}","{'id': '7183023996', 'category_id': '257759'}",1523345449712
18,10,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7183023996', 'category_id': '257759'}",1523428749483
19,6,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '7183023996', 'category_id': '257759'}",1523381193208
20,9,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7183023996', 'category_id': '257759'}",1523560112249
21,8,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7183023996', 'category_id': '257759'}",1523528840810
22,6,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7183023996', 'category_id': '257759'}",1523343367200
23,1,"{'latitude': 50.67211, 'longitude': 17.92533}","{'id': '7183023996', 'category_id': '257759'}",1523553497237
24,8,"{'latitude': 51.76109, 'longitude': 18.09102}","{'id': '7183023996', 'category_id': '257759'}",1523524154245
25,8,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7183023996', 'category_id': '257759'}",1523557159742
26,3,"{'latitude': 50.2584, 'longitude': 18.85632}","{'id': '7183023996', 'category_id': '257759'}",1523627787282
27,9,"{'latitude': 49.82245, 'longitude': 19.04686}","{'id': '7183023996', 'category_id': '257759'}",1523371050002
28,7,"{'latitude': 50.2584, 'longitude': 18.85632}","{'id': '7183023996', 'category_id': '257759'}",1523555509342
29,7,"{'latitude': 50.34802, 'longitude': 18.93282}","{'id': '7183023996', 'category_id': '257759'}",1523363997230
...,...,...,...,...
25742,3,"{'latitude': 50.20528, 'longitude': 19.27498}","{'id': '7265943788', 'category_id': '257248'}",1523355559845
25743,1,"{'latitude': 52.1934, 'longitude': 21.03487}","{'id': '7270065663', 'category_id': '249002'}",1523372076682
25744,8,"{'latitude': 50.30582, 'longitude': 18.9742}","{'id': '7270065663', 'category_id': '249002'}",1523525265363
25745,3,"{'latitude': 51.75, 'longitude': 19.46667}","{'id': '7270065663', 'category_id': '249002'}",1523371704050
25746,10,"{'latitude': 50.31818, 'longitude': 19.2374}","{'id': '7270065663', 'category_id': '249002'}",1523518109258
25747,8,"{'latitude': 49.82245, 'longitude': 19.04686}","{'id': '7270065663', 'category_id': '249002'}",1523355973495
25748,3,"{'latitude': 54.1522, 'longitude': 19.40884}","{'id': '7270065663', 'category_id': '249002'}",1523384801984
25749,2,"{'latitude': 50.25841, 'longitude': 19.02754}","{'id': '7270708539', 'category_id': '82259'}",1523610053581
25750,1,"{'latitude': 53.1235, 'longitude': 18.00762}","{'id': '7272675047', 'category_id': '249587'}",1523476485041
25751,9,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7272675047', 'category_id': '249587'}",1523637143013
25752,2,"{'latitude': 53.48411, 'longitude': 18.75366}","{'id': '7272675047', 'category_id': '249587'}",1523457397570
25753,7,"{'latitude': 52.29185, 'longitude': 21.04845}","{'id': '7272675047', 'category_id': '249587'}",1523389341116
25754,3,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7273349405', 'category_id': '82263'}",1523470702130
25755,9,"{'latitude': 54.35205, 'longitude': 18.64637}","{'id': '7273349405', 'category_id': '82263'}",1523386505316
25756,9,"{'latitude': 50.32492, 'longitude': 18.78576}","{'id': '7276408078', 'category_id': '249586'}",1523535432512
25757,2,"{'latitude': 53.42894, 'longitude': 14.55302}","{'id': '7277464935', 'category_id': '257754'}",1523544413825
25758,1,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7277464935', 'category_id': '257754'}",1523628006056
25759,8,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '7277471278', 'category_id': '82259'}",1523571193756
25760,8,"{'latitude': 52.54682, 'longitude': 19.70638}",{'id': '7281659725'},1523533372042
25761,4,"{'latitude': 53.13333, 'longitude': 23.16433}","{'id': '7282428474', 'category_id': '257756'}",1523612830237
25762,5,"{'latitude': 50.06143, 'longitude': 19.93658}","{'id': '7283237955', 'category_id': '82263'}",1523457738808
25763,5,"{'latitude': 51.1, 'longitude': 17.03333}","{'id': '7283512678', 'category_id': '82262'}",1523537533501
25764,10,"{'latitude': 50.79646, 'longitude': 19.12409}","{'id': '7283606314', 'category_id': '254738'}",1523606679775
25765,8,"{'latitude': 50.01381, 'longitude': 20.98698}","{'id': '7284067861', 'category_id': '257247'}",1523370630442
25766,5,"{'latitude': 51.1, 'longitude': 17.03333}","{'id': '7284645407', 'category_id': '145923'}",1523457070082
25767,1,"{'latitude': 50.04132, 'longitude': 21.99901}","{'id': '7284645407', 'category_id': '145923'}",1523396025794
25768,6,"{'latitude': 52.73679, 'longitude': 15.22878}","{'id': '7284677627', 'category_id': '254738'}",1523443370213
25769,2,"{'latitude': 54.51889, 'longitude': 18.53188}","{'id': '7284945387', 'category_id': '257248'}",1523404168658
25770,4,"{'latitude': 53.1235, 'longitude': 18.00762}","{'id': '7287331528', 'category_id': '82262'}",1523642256799
25771,3,"{'latitude': 52.73679, 'longitude': 15.22878}","{'id': '7287331528', 'category_id': '82262'}",1523556685830

In [164]:
from pandas.io.json import json_normalize

with open('../DATA/braincode-dataset-tx_correct.json') as data_file:    
    data = json.load(data_file)

d = data[:2]
print(json.dumps(d))
df = json_normalize(d, 'offer', ['id','category_id'], 
                    record_prefix='locations_')

[{"ttimestamp": 1523513211322, "offer": {"id": "4917959693", "category_id": "82258"}, "location": {"latitude": 54.51889, "longitude": 18.53188}, "item_quantity": "7"}, {"ttimestamp": 1523452698215, "offer": {"id": "6053701041", "category_id": "82262"}, "location": {"latitude": 52.40692, "longitude": 16.92993}, "item_quantity": "6"}]

KeyError: "Try running with errors='ignore' as key 'id' is not always present"

In [161]:
data = [{'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]
result = json_normalize(data, 'counties', ['state', 'shortname',
                                           ['info', 'governor']])

result

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [183]:
d = 1523513211.322

In [184]:
from datetime import datetime, date

In [185]:
datetime.fromtimestamp(d)

datetime.datetime(2018, 4, 12, 8, 6, 51, 322000)

In [173]:
import time
ts = time.time()
ts

1524267096.182543